In [1]:
import numpy as np
import pandas as pd

#### Utilizando Linguagem Python Nativa

In [2]:
df = pd.DataFrame([ 
    ['green', 'M', 10.1, 'class1'],
    ['red', 'L', 13.5, 'class2'],
    ['blue', 'XL', 15.3, 'class1']]) 

df.columns = ['color', 'size', 'price', 'classlabel'] 

df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

In [3]:
# converte para numero

class_mapping = {label:idx for idx,label in enumerate(np.unique(df['classlabel']))} 
class_mapping

{'class1': 0, 'class2': 1}

In [4]:
df['classlabel'] = df['classlabel'].map(class_mapping)
df

   color size  price  classlabel
0  green    M   10.1           0
1    red    L   13.5           1
2   blue   XL   15.3           0

In [5]:
# Tranformar de volta para o valor original

inv_class_mapping = {v: k for k, v in class_mapping.items()} 

df['classlabel'] = df['classlabel'].map(inv_class_mapping)

df

   color size  price classlabel
0  green    M   10.1     class1
1    red    L   13.5     class2
2   blue   XL   15.3     class1

#### Utilizando Scikit-Learn

In [8]:
from sklearn.preprocessing import LabelEncoder 

class_le = LabelEncoder() 

y = class_le.fit_transform(df['classlabel'].values) 

print(y)

class_le.inverse_transform(y)

[0 1 0]

array(['class1', 'class2', 'class1'], dtype=object)